{% extends 'main.html' %}
{% load static %}

{% block title %}
    О нас
{% endblock %}

{% block about %}
    <div class="my-1 text-center new-ad">
        <div class="card-body">
        <p class="m-0">О нас</p>
        </div>
    </div>
    <div class="row">
        <div class="col-7 text-left mt-3">
            <p class="feature">
                Мы развиваем проект с 2020 года.
                Наша цель — помочь пользователям в продаже и покупке электроавтомобиля, предоставив для этого все возможности нашей площадки.
                Наши модераторы постоянно следят за актуальностью предложений и оперативно реагируют на обращения пользователей.
                <br/>
            </p>
            <p class="feature">
                Мы стараемся, чтобы каждый мог легко и быстро найти ответы на свои вопросы. Компаниям, связанным с автомобильным бизнесом, сайт предоставляет возможность рассказать о себе и привлечь клиентов.
                Мы постоянно развиваемся, запускаем новые сервисы и открыты для предложений.
            </p>
        </div>
        <div class="col-5">
            <img class="img-fluid rounded mb-lg-4 mb-4 ml-5" style="max-height: 300px;" src="{% static 'img/about.svg' %}" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center mt-3 mb-5">
            <a href="/" class="btn create-ad mb-5">На главную</a>
        </div>
    </div>
{% endblock %}
{% block about_bt %}
{% endblock %}
